// Convention: 
// Component level divs uses classes 
// Other sub-level elements are to be modified using ".className#id"

//color palette
$Green: #002b38, #265350, #4d7c69, #73a491, #99cc99;
$Blue : #003049, #38AECC, #0B132B, #3A506B, #5BC0BE;

$Light:#FCFCFC, #EBEBEB, #0077FF, #333333;
$Dark:#333333, #434343, #3694FF, #B5B5B5;

$PureBlack:#000000;
$LessBlack:#121212;

$Background: #222831;
$Primary: #30475e;
$Secondary: #65bef2;
$White: #ececec;

$baseOpacity: 15%;

// Light theme 
html {
    height: 100%;
    // Input panel 
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headnig: rgb(250, 119, 32);
    --color-text: #333333;
    --file-upload: #f09153;
}

// Dark theme
html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #434343;
    --color-headnig: #3694FF;
    --color-text: #B5B5B5;
    --file-upload: #43a1d8;
}

body{
    height: 100%;
    background-color: var(--bg);
    font-family: 'Jost', sans-serif;;
}

// APP
#root{
    height: 100%;
}

// Home.js 
#home-main.home{
    display:flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}

#home-main-active.home {
    display:flex;
    flex-direction: column;
    min-height: 100%;
}

.home-no-graph{
    align-self: center;
}

.home #input-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home #input-label {
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: var(--file-upload);
    padding: 5px;
    border-radius:7px;
    display: inline-block;
}

.home #input-label:hover {
    cursor: pointer;
}

.home #data-ready-group{
    // background-color: var(--bg-panel);
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding:2%;
}

.home #main-control-group{
    padding: 0 1% 0 1%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--bg-panel);
    flex:1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    #input-and-data-section{
        display:flex;
        margin-top: auto;
        justify-content: flex-start;
    }
    #range-interval-group{
        p{
            color: var(--color-text);
            margin:0;
        }
    }
}

.home #controls-wrapper{
    display: flex;
    flex-direction: column;
    flex:1000;
    min-height: -webkit-fill-available;
}

.home #statisics-wrapper{
    background-color: var(--bg-panel);
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    color: var(--color-text);
    flex:1;
}

//HOME return Styling
.home #range-input-window{
    display:flex;
    max-height: 35px;
    margin-bottom: auto;
}

// Stats.js
.statistics{
    display: flex;
    #stat-lines{
        display: flex;
        div{
            display: flex;
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

// InitInputGroup.js 
.input-panel{
    width:50%;
    min-height:400px;
    align-self: center;
    background-color: var(--bg-panel);
    margin: 3em;
    padding:3em;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-panel #theme-changer{
    display: flex;
    justify-content: space-evenly;
}

.input-panel #project-name{
    flex:1;

    color: var(--color-headnig);
    text-align: center;
}

.input-panel #project-description{
    flex:3;

    color: var(--color-text);
    padding: 0 10px 0 10px;
}

.input-panel #theme-changer{
    flex:2;
    margin-bottom: 2em;
    div{
        width:25%;
        min-height: 5em;
        
    }
    #light{
        background-color: #FCFCFC;
        padding:5px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border: solid 1px #303030;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 5px var(--file-upload);
        }
        #inner-default{
            background-color: #ECECEC;
            width:100%;
            margin: 10%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
        }
    }
    #dark{
        background-color: #333333;
        padding:5px;
        display:flex;
        justify-content: center;
        border-radius: 5px;
        border: solid 1px #cccccc;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 10px var(--file-upload);
        }
        #inner-dark{
            background-color: #434343;
            width: 100%;
            margin:10%;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            border-radius: 5px;
            p{
                color:#B5B5B5;
            }
        }
    }
}

.input-panel #input-select-panel{
    display: flex;
    justify-content: center;
}

.input-panel #file-label-panel{
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: var(--file-upload);
    padding: 5px 7px 5px 7px;
    border-radius:7px;
    display: inline-block;
    &:hover{
        cursor: pointer;
    }
}

// Range.js
.range{
    flex:2;
    display:flex;
    color:var(--color-text);
    #window-slider{
        width:80%;
    }
    #slide-window-text{
        margin: 0;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    
}

// WindowInterval.js 
.window-interval{
    min-width: 450px;
    flex:1;
    color: var(--color-text);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    #lowerbound{
        width:15%;
        border-radius: 5px;
    }
    #upperbound{
        width:15%;
        border-radius: 5px;
    }
}

// View.js
#component.view{
    background-color: var(--bg-panel);
    flex:15;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.view #line-graph{
    height:500px;
}

.view #no-input-div{
    background-color: var(--bg-panel);
    flex:1;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    div{
        color: var(--color-text)
    }
}

// chartjs canvas 
canvas#line-graph.chartjs-render-monitor{
    margin: auto;
}

// Select.js
.select{
    // flex:1;
    color: var(--color-text);
    display: flex;
    #dropdown{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
}

//Datasets.js
.data-section{
    display: flex;
    align-items: center;
    text-align: center;
    #choose-data-set-text{
        p{
            color: var(--color-text)
        }
    }
}

//Range Interval.js
.range-interval{
   padding: 0 10px 0 10px;
}

div.rc-slider-track.rc-slider-track-1{
    background-color: var(--file-upload);
}

div.rc-slider-handle.rc-slider-handle-1{
    background-color: var(--file-upload);
    border: solid 2px var(--file-upload);
    
}

div.rc-slider-handle.rc-slider-handle-2{
    background-color: var(--file-upload);
    border: solid 2px var(--file-upload);
}

div.rc-slider-handle.rc-slider-handle-2.rc-slider-handle-dragging{
    background-color: var(--file-upload);
    border: solid 2px var(--file-upload);
}

// TRANSITION
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

